.plats--page {
    padding: var(--pad);
    display: grid;
    color: #fff;
    grid-gap: 10px;
    line-height: 1.6rem;
    grid-template-rows: 6rem;
}

.plats--page h4 {
    text-align: center;
    color: #fff;
}

.plats--page ul {
    font-size: 1rem;
}

.tapas-title {
    grid-area: l;
    background-image: var(--gradient), url('/apps/basic/img/pan-con-tomate.jpg');

    display: grid;
    align-items: center;
    justify-items: center;
    color: var(--c4);
    font-size: 2.5rem;
}

.tapas-froides {
    grid-area: f;
    background-image: var(--gradient), url('/apps/basic/img/tapastall1.jpg');
}

.tapas-chaudes {
    grid-area: c;
    background-image: var(--gradient), url('/apps/basic/img/tapashot.jpg');
}

.tapas-froides,
.tapas-chaudes {
    padding: var(--pad);
    border-radius: 3px;
    color: var(--c5);
    background-size: cover;
}
