:root {
    --c1: #333;
    --c2: #fc7745;
    --c3: #777;
    --c4: #fcac45;
    --c5: #d8d8d8;
    --c6: #eee;

    --pad: 0.7rem;

    --gradient: linear-gradient(
        to top,
        rgba(29, 19, 9, 0.8),
        rgba(29, 19, 9, 0.8)
    );
}

body {
    background-color: var(--c6);
}

ul {
    list-style: none;
    padding-left: var(--pad);
}

.container {
    width: 100%;
    border: #333 dashed 2px;
    height: 100vh;
}

.stick {
    position: fixed;
    top: 0px;
    width: 100vw;
    margin-bottom: var(--pad);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: #555;
    text-align: right;
    font-size: 0.6rem;
}

[data-page] {
    display: none;
}

[data-page].active {
    display: inherit;
}

.wrapper {
    max-width: 1100px;
    margin: auto;
}

.sp2 {
    grid-column: span 2;
}

.spall {
    grid-column: 1 / -1;
}
